@import '_mixin';

.site-header {
    position: relative;
    .site-header-one-container {
        @include boxshadow( 0px 3px 6px transparentize( $black, 0.85 ) );
        @media screen and ( min-width: #{ $width_m + 1px } ) {
            @include main-padding-lr;
        }
    }
    .site-header-one {
        min-height: 70px;
        @include default_width;
        @media screen and ( min-width: #{ $width_m + 1px } ) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .site-branding {
                display: flex;
                align-items: center;
            }
        }
        .search-field {
            @include field;
        }
        .search-submit {
            @include button;
        }
    }
    .site-branding {
        @media screen and ( max-width: $width_m ) {
            @include main-padding-lr;
            .site-description {
                margin: 0;
            }
        }
        .site-title {
            padding-right: 10px;
            a {
                text-indent: -999em;
                overflow: hidden;
                display: block;
                width: 50px;
                height: 35px;
                background: {
                    @include image( 'logo.svg' );
                    repeat: no-repeat;
                    position: center 0;
                    size: contain;
                }
            }
        }
        .site-description {
            color: $color_01;
            @media screen and ( min-width: #{ $width_m + 1px } ) {
                max-width: 210px;
            }
            @include font_metropolis_light_italic;
            @include font( 12, 14 );
            strong, span {
                display: block;
            }
        }
    }
    #site-navigation {
        .menu-toggle {
            @media screen and ( min-width: #{ $width_m + 1px } ) {
                display: none;
            }
            width: 42px;
            height: 40px;
            border: 0;
            @include radius(0);
            background: {
                color: $white;
                repeat: no-repeat;
                position: 50%;
                @include icon( 'menu/open.svg' );
            }
            position: absolute;
            top: 0;
            right: 10px;
            overflow: hidden;
            text-indent: -999em;
        }
        &.toggled {
            @media screen and ( max-width: $width_m ) {
                background-color: $color_gray_1;
                margin-top: 10px;
                padding: 10px;
                .menu-toggle {
                    background: {
                        @include icon( 'menu/close.svg' );
                    }
                }
                #primary-menu {
                    display: flex;
                    flex-direction: column-reverse;
                    a {
                        @include button_reverse;
                        &.link-add {
                            @include button;
                            text-align: center;
                        }
                        display: block;
                        margin: 10px auto;
                        width: 200px;
                        padding-left: 37px;
                    }
                    .children {
                        display: block;
                        a {
                            background-image: none;
                            display: flex;
                            &:before {
                                content: "";
                                display: block;
                                width: 20px;
                                height: 14px;
                                background: {
                                    repeat: no-repeat;
                                    position: 0 center;
                                    size: contain;
                                }
                            }
                            &.link-profile {
                                &:before {
                                    background: {
                                        @include icon( 'person.svg' );
                                    }
                                }
                            }
                            &.link-dashboard {
                                &:before {
                                    background: {
                                        @include icon( 'suitcase.svg' );
                                    }
                                }
                            }
                        }
                    }
                    .account {
                        > {
                            .link-profile {
                                display: none;
                            }
                        }
                        border: 0;
                        display: block;
                        position: static;
                        .children {
                            @include reset;
                            display: block;
                            position: inherit;
                        }
                    }
                }
            }
        }
        @media screen and ( max-width: $width_m ) {
            #primary-menu {
                display: none;
            }
        }
        .button,
        .link {
            margin-left: 1em;
            &:first-child {
                margin-left: 0;
            }
        }
        .button {
            &.button-profile,
            &.button-dashboard {
                @include button_reverse;
                padding-left: 37px;
                background: {
                    @include icon( 'person.svg' );
                    repeat: no-repeat;
                    position: 14px center;
                    size: 14px auto;
                }
                &:hover,
                &.current-page {
                    background: {
                        @include icon( 'person-white.svg' );
                    }
                }
            }
            &.button-dashboard {
                background: {
                    @include icon( 'suitcase.svg' );
                }
                &:hover,
                &.current-page {
                    background: {
                        @include icon( 'suitcase-white.svg' );
                    }
                }
            }
            &.current-page {
                background-color: $color_accent;
                color: $white;
            }
        }
        .link {
            @include link;
            &.link-profile,
            &.link-dashboard {
                padding-left: 37px;
                background: {
                    @include icon( 'person.svg' );
                    repeat: no-repeat;
                    position: 14px center;
                    size: 14px auto;
                }
            }
            &.link-dashboard {
                background: {
                    @include icon( 'suitcase.svg' );
                }
            }
        }
    }
}
/** menu */
ul {
    &.primary-menu {
        @include reset;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        li {
            padding: 0 10px;
        }
        a {
            display: block;
            line-height: 1.2;
        }
    }
}

