@import '_mixin';

$color_accent: #ffe180;
$color_black: #2a2d2e;

:root {
    /* COLORS */
    /* LINKS COLORS */
    /* BACKGROUND COLORS */
    /** TEXT COLORS */
    /** BUTTONS */
    /** statuses */

    /** MARGIN & PADDING */
    --padding-large: 40px;
    --padding-default: 30px;
    --padding-middle: 20px;
    --padding-small: 15px;
    --padding-xsmall: 10px;
    --padding-xxsmall: 5px;

    /** radius **/
    /** font-size **/
    /* field width */

}
